.example-chip-list {
    width: 90%;
    margin-right: 5px;
}
p {
    margin-top: 1em;
    margin-bottom: 0rem !important;
    color: rgba(128, 128, 128);
} 
button{
    margin-top: 5px;
}
.form-inline{
    display: flex;
}
mat-icon#push {

    cursor: pointer;
    position: relative;
    font-size: 30px;
}
mat-icon#push:hover {
    font-size: 30px;
    color: blueviolet;
}
