<div class="main">
    <div class="table-conteiner">
        <table>
            <tr>
                <td>
                    <span>Процессы</span>
                </td>
                <td *ngFor="let poc of data.task.process">
                    <span class="bordered-span">{{poc.type}}</span>
                    <span class="bordered-span">{{poc.zone}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Основание</span>
                    <p>№ Документа</p>
                </td>
                <td>
                    <div class="doc-list">
                        <ul *ngFor="let base of data.task.baseList">
                            <li>
                                <span class="bordered-span">{{base}}</span>
                            </li>
                        </ul>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <span>Исполнитель</span>
                </td>
                <td>
                    <ng-container *ngIf="data.task.executor.type === 'all'">
                        <span class="bordered-span">Общедоступный</span>
                    </ng-container>
                    <ng-container *ngIf="data.task.executor.type === 'group'">
                        <span class="bordered-span">Группа</span>
                    </ng-container>
                    <ng-container *ngIf="data.task.executor.type === 'user'">
                        <span class="bordered-span">Пользователь</span>
                    </ng-container>
                </td>
                <td *ngIf="data.task.executor.name">
                    <span class="bordered-span">{{data.task.executor.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Способ сборки</span>
                </td>
                <td>
                    <ng-container *ngIf="data.task.method === 'auto'">
                        <span class="bordered-span">Автомачиский</span>
                    </ng-container>
                    <ng-container *ngIf="data.task.method === 'hand'">
                        <span class="bordered-span">Ручной</span>
                    </ng-container>
                    <ng-container *ngIf="data.task.method === 'shtabel'">
                        <span class="bordered-span">Штабелером</span>
                    </ng-container>
                </td>
            </tr>
        </table>
    </div>
    <div class="control-conteiner">
        <button mat-raised-button color="primary">Отмена</button>
        <button mat-raised-button color="primary">Создать</button>
    </div>
</div>