<div id="main">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <h5 class="card-title"> Процессы </h5>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <ul class="list-group list-group-flush" *ngFor="let poc of data.task.process">
                                <li class="list-group-item">
                                    <div class="border-bot">
                                        <ul class="list-group list-group-horizontal">
                                            <li id="type" class="list-group-item"> {{poc.type}} </li>
                                            <li class="list-group-item"> {{poc.zone}} </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <h5 id="base" class="card-title">
                            Основание
                            <p class="card-text"><small class="text-muted"> № Документа </small></p>
                        </h5>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <!-- <ng-container *ngIf="data.task.baselist.length == '0'"> --- </ng-container> -->
                            <ul class="list-group list-group-flush" *ngFor="let base of data.task.baselist">
                                <div class="border-bot">
                                    <li id="base" class="list-group-item"> {{base}} </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <h5 class="card-title">
                            Исполнитель
                        </h5>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <ul class="list-group list-group-horizontal">
                                        <li id="type" class="list-group-item">
                                            <ng-container *ngIf="data.task.executor.type === 'all'"> Общедоступный
                                            </ng-container>
                                            <ng-container *ngIf="data.task.executor.type === 'group'"> Группа
                                            </ng-container>
                                            <ng-container *ngIf="data.task.executor.type === 'user'"> Пользователь
                                            </ng-container>
                                        </li>
                                        <li class="list-group-item" *ngIf="data.task.executor.name">
                                            {{data.task.executor.name}} </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <h5 class="card-title">
                            Способ сборки
                        </h5>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li id="method" class="list-group-item">
                                    <ng-container *ngIf="data.task.method === 'auto'"> Автомачиский </ng-container>
                                    <ng-container *ngIf="data.task.method === 'hand'"> Ручной </ng-container>
                                    <ng-container *ngIf="data.task.method === 'shtabel'"> Штабелером </ng-container>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div mat-dialog-actions id="bt-group">
    <button mat-raised-button color="primary" class="btn btn-default" (click)="onCancelClick()">
        Отмена
    </button>
    <button mat-raised-button color="primary" class="btn btn-default" (click)="onCreate()">
        Создать
    </button>
</div>