.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .table-conteiner {
        width: 95%;
        height: 80%;
        margin: 5px;
        border: 1px solid #dfdfdf;
        border-radius: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
        table{
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            tr{
                border-bottom: 1px solid #dfdfdf;
                max-width: 144px;
                &:last-child{
                    border: none;
                }
                td{
                    .doc-list{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                    }
                    span{
                        font-size: 20px;
                    }
                    p{
                        font-size: 15px;
                        color: #666666;
                    }
                }
            }
        }
    }
    .control-conteiner{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        button{
            margin-right: 15px;
        }
    }
}
li {
    list-style-type: none;
    /* Убираем маркеры */
  }
  
  ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
  }
.bordered-span{
    border-bottom: #dfdfdf 3px solid;
    padding: 0 10px 0 10px;
    font-size: 15px!important;
}
