<div class="block">
    <mat-accordion>

        <mat-expansion-panel [expanded]="isSelectSize" (opened)="isSelectSize = true" (closed)="isSelectSize = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Размер сетки
                </mat-panel-title>
                <mat-panel-description>
                    <label *ngIf="isSelectSize"> {{x_width}} x {{y_height}} </label>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field id="yx">
                <input type="number" matInput placeholder="Ширина" [(ngModel)]="x_width">
            </mat-form-field>
            <mat-form-field id="yx">
                <input type="number" matInput placeholder="Высота" [(ngModel)]="y_height">
            </mat-form-field>
            <button mat-raised-button (click)="onChangeSize()">Изменить</button>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="isSelectTypeRowStillage" (opened)="isSelectTypeRowStillage = true" (closed)="isSelectTypeRowStillage = false; 
                                        isHor1Stillage = false; 
                                        isHor2Stillage = false; 
                                        isVer1Stillage = false; 
                                        isVer2Stillage = false;
                                        selectedRow = 'undefined'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Ряд
                </mat-panel-title>
                <mat-panel-description>
                    <label *ngIf="!isHor1Stillage && !isVer1Stillage && isSelectTypeRowStillage"> Выберите тип ряда
                    </label>
                    <label *ngIf="isHor1Stillage"> Горизонтальный </label>
                    <label *ngIf="isVer1Stillage"> Вертикальный </label>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedRow">
                <mat-button-toggle value="hor1Stillage" (click)="isHor1Stillage = true; isVer1Stillage = false"
                    data-toggle="tooltip" data-placement="bottom" title="Горизонтальный ряд">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">text_rotation_none</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="ver1Stillage" (click)="isHor1Stillage = false; isVer1Stillage = true"
                    data-toggle="tooltip" data-placement="bottom" title="Вертикальный ряд">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">text_rotate_vertical</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="isPanelOpenStillage" (opened)="isPanelOpenStillage = true" (closed)="isPanelOpenStillage = false; 
                                        isChoiceStillage = false; 
                                        isChoiceRoad = false; 
                                        firstCell = null;
                                        selectedElement1 = 'undefined';
                                        selectedElement2 = 'undefined';
                                        selectedElement3 = 'undefined';
                                        selectedElement4 = 'undefined'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Новый элемент
                </mat-panel-title>
                <mat-panel-description>
                    <!-- {{panelOpenStillage ? 'open' : 'closed'}} -->
                    <label *ngIf="isPanelOpenStillage && !isChoiceStillage && !isChoiceRoad">Выберите элемент</label>
                    <label *ngIf="isChoiceStillage"> Стеллаж 3 x 4 </label>
                    <label *ngIf="isChoiceRoad"> Дорога </label>
                    <!-- <label *ngIf="selectedElement2"> {{selectedElement2}} </label>
                <label *ngIf="!selectedElement"> {{selectedElement}} </label> -->
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-button-toggle-group id="but-groupe" name="fontStyle" aria-label="Font Style"
                [(ngModel)]="selectedElement1">
                <mat-button-toggle value="stellage32"
                    (click)="isChoiceStillage = true; isChoiceRoad = false; isChoiceZoneUnloade = false; selectedElement3 = 'undefined'; selectedElement2 = 'undefined'; selectedElement4 = 'undefined'"
                    data-placement="bottom" matTooltip="Стеллаж 3x2">
                    Ст 3x2
                </mat-button-toggle>
                <mat-button-toggle value="stellage33"
                    (click)="isChoiceStillage = true; isChoiceRoad = false; isChoiceZoneUnloade = false; selectedElement3 = 'undefined'; selectedElement2 = 'undefined'; selectedElement4 = 'undefined'"
                    data-placement="bottom" matTooltip="Стеллаж 3x3">
                    Ст 3x3
                </mat-button-toggle>
                <mat-button-toggle value="stellage34"
                    (click)="isChoiceStillage = true; isChoiceRoad = false; isChoiceZoneUnloade = false; selectedElement3 = 'undefined'; selectedElement2 = 'undefined'; selectedElement4 = 'undefined'"
                    data-placement="bottom" matTooltip="Стеллаж 3x4">
                    Ст 3x4
                </mat-button-toggle>
                <mat-button-toggle value="stellage35"
                    (click)="isChoiceStillage = true; isChoiceRoad = false; isChoiceZoneUnloade = false; selectedElement3 = 'undefined'; selectedElement2 = 'undefined'; selectedElement4 = 'undefined'"
                    data-placement="bottom" matTooltip="Стеллаж 3x5">
                    Ст 3x5
                </mat-button-toggle>
                <mat-button-toggle value="stellage35r"
                    (click)="isChoiceStillage = true; isChoiceRoad = false; isChoiceZoneUnloade = false; selectedElement3 = 'undefined'; selectedElement2 = 'undefined'; selectedElement4 = 'undefined'"
                    data-placement="bottom" matTooltip="Стеллаж 3x5 правый">
                    Ст 3x5п
                </mat-button-toggle>
                <mat-button-toggle value="stellage25r"
                    (click)="isChoiceStillage = true; isChoiceRoad = false; isChoiceZoneUnloade = false; selectedElement3 = 'undefined'; selectedElement2 = 'undefined'; selectedElement4 = 'undefined'"
                    data-placement="bottom" matTooltip="Стеллаж 2x5 правый">
                    Ст 2x5п
                </mat-button-toggle>
                <mat-button-toggle value="zona-storage-pallet"
                    (click)="isChoiceStillage = true; isChoiceRoad = false; isChoiceZoneUnloade = false; selectedElement3 = 'undefined'; selectedElement2 = 'undefined'; selectedElement4 = 'undefined'"
                    data-placement="bottom" matTooltip="Зона хранения поддонов">
                    Зона хранения поддонов
                </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group id="but-groupe" name="fontStyle" aria-label="Font Style"
                [(ngModel)]="selectedElement2">
                <mat-button-toggle value="stellage24"
                    (click)="isChoiceStillage = true; isChoiceRoad = false; isChoiceZoneUnloade = false; selectedElement3 = 'undefined'; selectedElement1 = 'undefined'; selectedElement4 = 'undefined'"
                    data-toggle="tooltip" data-placement="bottom" title="Стеллаж 2x4">
                    Ст 2x4
                </mat-button-toggle>
                <mat-button-toggle value="stellage24r"
                    (click)="isChoiceStillage = true; isChoiceRoad = false; isChoiceZoneUnloade = false; selectedElement3 = 'undefined'; selectedElement1 = 'undefined'; selectedElement4 = 'undefined'"
                    data-toggle="tooltip" data-placement="bottom" title="Стеллаж 2x4п">
                    Ст 2x4п
                </mat-button-toggle>
                <mat-button-toggle value="stellage25"
                    (click)="isChoiceStillage = true; isChoiceRoad = false; isChoiceZoneUnloade = false; selectedElement3 = 'undefined'; selectedElement1 = 'undefined'; selectedElement4 = 'undefined'"
                    data-toggle="tooltip" data-placement="bottom" title="Стеллаж 2x5">
                    Ст 2x5
                </mat-button-toggle>
                <mat-button-toggle value="stellagelong315"
                    (click)="isChoiceStillage = true; isChoiceRoad = false; isChoiceZoneUnloade = false; selectedElement3 = 'undefined'; selectedElement1 = 'undefined'; selectedElement4 = 'undefined'"
                    data-toggle="tooltip" data-placement="bottom" title="Стеллаж Удл 1x4/3x1">
                    Удл 1x4/3x1
                </mat-button-toggle>
                <mat-button-toggle value="stellagelong234"
                    (click)="isChoiceStillage = true; isChoiceRoad = false; isChoiceZoneUnloade = false; selectedElement3 = 'undefined'; selectedElement1 = 'undefined'; selectedElement4 = 'undefined'"
                    data-toggle="tooltip" data-placement="bottom" title="Стеллаж Удл 1x2/3x2">
                    Удл 1x2/3x2
                </mat-button-toggle>
                <mat-button-toggle value="stellage34r"
                    (click)="isChoiceStillage = true; isChoiceRoad = false; isChoiceZoneUnloade = false; selectedElement3 = 'undefined'; selectedElement1 = 'undefined'; selectedElement4 = 'undefined'"
                    data-toggle="tooltip" data-placement="bottom" title="Стеллаж 3x4п">
                    Ст 3x4п
                </mat-button-toggle>

            </mat-button-toggle-group>
            <mat-button-toggle-group id="but-groupe" name="fontStyle" aria-label="Font Style"
                [(ngModel)]="selectedElement4">
                <mat-button-toggle value="stellage32r"
                    (click)="isChoiceStillage = true; isChoiceZonaSend = false; isChoiceOffice = false; isChoiceContinueRow = false; selectedElement1 = 'undefined'; selectedElement2 = 'undefined'; selectedElement3 = 'undefined'"
                    data-toggle="tooltip" data-placement="bottom" title="Стеллаж 3x2п">
                    Ст 3x2п
                </mat-button-toggle>
                <mat-button-toggle value="stellage33r"
                    (click)="isChoiceStillage = true; isChoiceZonaSend = false; isChoiceOffice = false; isChoiceContinueRow = false; selectedElement1 = 'undefined'; selectedElement2 = 'undefined'; selectedElement3 = 'undefined'"
                    data-toggle="tooltip" data-placement="bottom" title="Стеллаж 3x3п">
                    Ст 3x3п
                </mat-button-toggle>
                <mat-button-toggle value="stellage23"
                    (click)="isChoiceStillage = true; isChoiceZonaSend = false; isChoiceOffice = false; isChoiceContinueRow = false; selectedElement1 = 'undefined'; selectedElement2 = 'undefined'; selectedElement3 = 'undefined'"
                    data-toggle="tooltip" data-placement="bottom" title="Стеллаж 2x3">
                    Ст 2x3
                </mat-button-toggle>
                <mat-button-toggle value="stellagelong35"
                    (click)="isChoiceStillage = true; isChoiceZonaSend = false; isChoiceOffice = false; isChoiceContinueRow = false; selectedElement1 = 'undefined'; selectedElement2 = 'undefined'; selectedElement3 = 'undefined'"
                    data-toggle="tooltip" data-placement="bottom" title="Удл 3x5 ">
                    Удл 3x5
                </mat-button-toggle>
                <mat-button-toggle value="stellagelong34"
                    (click)="isChoiceStillage = true; isChoiceZonaSend = false; isChoiceOffice = false; isChoiceContinueRow = false; selectedElement1 = 'undefined'; selectedElement2 = 'undefined'; selectedElement3 = 'undefined'"
                    data-toggle="tooltip" data-placement="bottom" title="Удл 3x4 ">
                    Удл 3x4
                </mat-button-toggle>
                <mat-button-toggle value="zone_storage"
                    (click)="isChoiceStillage = false; isChoiceRoad = false; isChoiceZoneUnloade = false; selectedElement3 = 'undefined'; selectedElement1 = 'undefined'; selectedElement2 = 'undefined'"
                    data-toggle="tooltip" data-placement="bottom" title="Зона хранения поддонов">
                    Зона хранения
                </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group id="but-groupe" name="fontStyle" aria-label="Font Style"
                [(ngModel)]="selectedElement3">
                <mat-button-toggle value="zone_send"
                    (click)="isChoiceZonaSend = true; isChoiceOffice = false; isChoiceContinueRow = false; selectedElement1 = 'undefined'; selectedElement2 = 'undefined'; selectedElement4 = 'undefined'"
                    data-toggle="tooltip" data-placement="bottom" title="Зона отправки">
                    Зона отправки
                </mat-button-toggle>
                <mat-button-toggle value="road"
                    (click)="isChoiceStillage = false; isChoiceRoad = true; isChoiceZoneUnloade = false; selectedElement1 = 'undefined'; selectedElement2 = 'undefined'; selectedElement4 = 'undefined'"
                    data-toggle="tooltip" data-placement="bottom" title="Дорога">
                    Дорога
                </mat-button-toggle>
                <mat-button-toggle value="zone_unload"
                    (click)="isChoiceZoneUnloade = true; isChoiceRoad = false; selectedElement1 = 'undefined'; selectedElement2 = 'undefined'; selectedElement4 = 'undefined'"
                    data-toggle="tooltip" data-placement="bottom" title="Зона разгрузки">
                    Зона разгрузки
                </mat-button-toggle>
                <mat-button-toggle value="office"
                    (click)="isChoiceOffice = true; isChoiceZonaSend = false; isChoiceContinueRow = false; selectedElement1 = 'undefined'; selectedElement2 = 'undefined'; selectedElement4 = 'undefined'"
                    data-toggle="tooltip" data-placement="bottom" title="Офис">
                    Офис
                </mat-button-toggle>
                <mat-button-toggle value="continueRow"
                    (click)="isChoiceContinueRow = true; isChoiceOffice = false; isChoiceZonaSend = false; selectedElement1 = 'undefined'; selectedElement2 = 'undefined'"
                    data-toggle="tooltip" data-placement="bottom" title="Продолжение ряда">
                    Ряд
                </mat-button-toggle>
            </mat-button-toggle-group>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="isSelectEditor" (opened)="isSelectEditor = true" (closed)="isSelectEditor = false; 
                                           isChoiceDelete = false;
                                           selectedEditor = 'undefined'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Удалить
                </mat-panel-title>
                <mat-panel-description>
                    <label *ngIf="isSelectEditor && !isChoiceDelete"> Выберите инструмент </label>
                    <label *ngIf="isChoiceDelete"> Удалить элемент </label>
                </mat-panel-description>
            </mat-expansion-panel-header>


            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedEditor">
                <mat-button-toggle value="delete-element" (click)="isChoiceDelete = true">
                    <mat-icon id="icon-delete" aria-hidden="false" aria-label="Example home icon"> delete_forever
                    </mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>

        </mat-expansion-panel>

    </mat-accordion>
    <div [ngClass]="{ 'property-class': isChoiceProperties || isSelectEditor }">
        <mat-accordion>
            <mat-expansion-panel [expanded]="isChoiceProperties" (opened)=" isChoiceProperties = true" (closed)=" isChoiceProperties = false;
                                            isSelectedRowStillages = false;
                                            isSelectedStillage = false;
                                            isSelectedStillage = false;
                                            isSelectedElement = false;
                                            onCanselPropertyZone()">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Свойства
                    </mat-panel-title>
                    <mat-panel-description>
                        <label
                            *ngIf="isChoiceProperties && !isSelectedRowStillages && !isSelectedStillage && !isSelectedElement">
                            Выберите элемент </label>
                        <label
                            *ngIf="isChoiceProperties && isSelectedRowStillages && !isSelectedStillage && !isSelectedElement">
                            Ряд стеллажей </label>
                        <label
                            *ngIf="isChoiceProperties && !isSelectedRowStillages && isSelectedStillage && !isSelectedElement">
                            Стеллаж </label>
                        <label
                            *ngIf="isChoiceProperties && !isSelectedRowStillages && !isSelectedStillage && isSelectedElement && currentCell.element === 'road'">
                            Дорога </label>
                        <label
                            *ngIf="isChoiceProperties && !isSelectedRowStillages && !isSelectedStillage && isSelectedElement && currentCell.element === 'office'">
                            Офис </label>
                        <label
                            *ngIf="isChoiceProperties && !isSelectedRowStillages && !isSelectedStillage && isSelectedElement && currentCell.element === 'zone_send'">
                            Зона отправки </label>
                        <label
                            *ngIf="isChoiceProperties && !isSelectedRowStillages && !isSelectedStillage && isSelectedElement && currentCell.element === 'zone_unload'">
                            Зона разгрузки </label>
                        <label
                            *ngIf="isChoiceProperties && !isSelectedRowStillages && !isSelectedStillage && isSelectedElement && currentCell.element === 'zone_storage'">
                            Зона хранения </label>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div *ngIf="isSelectedRowStillages && !isSelectedStillage && !isSelectedElement">
                    <mat-form-field id="nameSt">
                        <ng-container *ngIf="currentCell.element !== 'long-3-1-5'">
                            <ng-container *ngIf="currentCell.element !== 'long-2-3-4'">
                                <ng-container *ngIf="currentCell.element !== 'long-3-5'">
                                    <ng-container *ngIf="currentCell.element !== 'long-3-4'">
                                        <input type="text" matInput placeholder="Ряд стеллажей"
                                            [(ngModel)]="stillageRowName">
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </mat-form-field>
                    <br>
                    <button id="but-size-out" mat-raised-button (click)="onSaveProperty()">Сохранить</button>
                </div>

                <div *ngIf="!isSelectedRowStillages && isSelectedStillage && !isSelectedElement">
                    <div *ngIf="isSelectCellWithRowName">
                        <mat-form-field id="nameSt">
                            <ng-container *ngIf="currentCell.element !== 'long-3-1-5'">
                                <ng-container *ngIf="currentCell.element !== 'long-2-3-4'">
                                    <ng-container *ngIf="currentCell.element !== 'long-3-5'">
                                        <ng-container *ngIf="currentCell.element !== 'long-3-4'">
                                            <input type="text" matInput placeholder="Ряд стеллажей"
                                                [(ngModel)]="stillageRowName" readonly>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </mat-form-field>

                        <mat-form-field id="nameSt">
                            <input type="text" matInput placeholder="Имя стеллажа" [(ngModel)]="stillageName">
                        </mat-form-field>
                        <br>
                        <button id="but-size-out" mat-raised-button (click)="onSaveProperty()">Сохранить</button>
                    </div>
                    <ng-container *ngIf="!isSelectCellWithRowName">
                        <ng-container *ngIf="currentCell.element !== 'long-3-1-5'">
                            <ng-container *ngIf="currentCell.element !== 'long-2-3-4'">
                                <ng-container *ngIf="currentCell.element !== 'long-3-5'">
                                    <ng-container *ngIf="currentCell.element !== 'long-3-4'">
                                        <label> Назовите ряд стеллажей! </label>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>

                <ng-container *ngIf="!isSelectedRowStillages && !isSelectedStillage && isSelectedElement">
                    <ng-container
                        *ngIf="currentCell.element === 'zone_unload' || currentCell.element === 'zone_send' || currentCell.element === 'office' || currentCell.element === 'zone_storage'">
                        <label> Выделите верхний левый и правый нижний углы </label>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Имя зона разгрузки" [(ngModel)]="zoneName">
                        </mat-form-field>
                        <br>
                        <button mat-raised-button (click)="onCanselPropertyZone()">Отмена</button>
                        <button id="but-size-out" mat-raised-button (click)="onSavePropertyZone()">Сохранить</button>
                    </ng-container>
                    <label *ngIf="currentCell.element === 'road'"> road </label>
                </ng-container>

                <ng-container
                    *ngIf="currentCell && (currentCell.element === 'long-3-1-5' || currentCell.element === 'long-2-3-4' || currentCell.element === 'long-3-5' || currentCell.element === 'long-3-4')">
                    <label id="action"> Введите имя стеллажа </label>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Имя стеллажа" [(ngModel)]="longName">
                    </mat-form-field>
                    <br>
                    <button mat-raised-button (click)="onCanselPropertyZone()">Отмена</button>
                    <button id="but-size-out" mat-raised-button (click)="onSavePropertyLong()">Сохранить</button>
                </ng-container>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <br>

    <mat-card *ngIf="isChanged">
        <div class="form-inline">
            <label id="changed"> Карта склада была изменена </label>
            <div mat-dialog-actions>
                <button mat-raised-button id="butt-cancel" class="btn btn-default" (click)="openActionDialog('cancel')">
                    Отмена
                </button>
                <button mat-raised-button class="btn btn-default" (click)="openActionDialog('save')">
                    Сохранить
                </button>
            </div>
        </div>
    </mat-card>
</div>

<!-- element stillage panel -->
<div class="block1" *ngIf="!isSelectTypeRowStillage && !isSelectEditor">
    <table class="table-bord">
        <tr class="tr-bord" *ngFor="let col of tab_map">
            <td class="td-bord" *ngFor="let row of col" (click)="onSelectCell(row)" [ngClass]="{
                    'stillage-row-with-out-name': row.isStillageRowWithOutNameHor || row.isStillageRowWithOutNameVer,
                    'stillage-cell-with-out-name': row.isStillageOneWithOutName,
                    'stillage-select-cell': row.isSelectCellStillage,
                    'stillage-select-cell-element': row.isSelectCellStillage && (row.element === 'office' || row.element === 'zone_send' || row.element === 'zone_unload' || row.element === 'zone_storage'),
                    'road': row.element === 'road',
                    'office': row.element === 'office',
                    'zone_send': row.element === 'zone_send',
                    'zone_unload': row.element === 'zone_unload',
                    'zone_storage': row.element === 'zone_storage',
                    's-left-bottom-top': row.style === 's-left-bottom-top',
                    's-bottom-top': row.style === 's-bottom-top',
                    's-right-bottom-top': row.style === 's-right-bottom-top',
                    's-left-top-right': row.style === 's-left-top-right',
                    's-left-right': row.style === 's-left-right',
                    's-left-bottom-right': row.style === 's-left-bottom-right',
                    's-left-top': row.style === 's-left-top',
                    's-right-top': row.style === 's-right-top',
                    's-right-bottom': row.style === 's-right-bottom',
                    's-left-bottom': row.style === 's-left-bottom',
                    's-left': row.style === 's-left',
                    's-right': row.style === 's-right',
                    's-bottom': row.style === 's-bottom',
                    's-top': row.style === 's-top'
                }">
                {{row.cellName}}
                <div>
                    <p id="row-name-ver" *ngIf="row.isBraceVer">{{row.rowName}}</p>
                    <img id="img-ver1" [src]="row.imageUrl" *ngIf="row.isBraceVer" (click)="onClickBrace(row)" />
                </div>
                <div id="name-row-hor" class="form-inline">
                    <p id="row-name-hor" *ngIf="row.isBraceHor">{{row.rowName}}</p>
                    <img id="img-hor1" [src]="row.imageUrl" *ngIf="row.isBraceHor" (click)="onClickBrace(row)" />
                </div>
                <app-vertical-three-four *ngIf="row.element === 'ver-3-4'"></app-vertical-three-four>
                <app-vertical-three-four-right *ngIf="row.element === 'ver-3-4r'"></app-vertical-three-four-right>
                <app-horizontal-three-four *ngIf="row.element === 'hor-3-4'"></app-horizontal-three-four>
                <app-vertical-three-three *ngIf="row.element === 'ver-3-3'"></app-vertical-three-three>
                <app-vertical-three-three-right *ngIf="row.element === 'ver-3-3r'"></app-vertical-three-three-right>
                <app-horizontal-three-three *ngIf="row.element === 'hor-3-3'"></app-horizontal-three-three>
                <app-vertical-three-two *ngIf="row.element === 'ver-3-2'"></app-vertical-three-two>
                <app-vertical-three-two-right *ngIf="row.element === 'ver-3-2r'"></app-vertical-three-two-right>
                <app-horizontal-three-two *ngIf="row.element === 'hor-3-2'"></app-horizontal-three-two>
                <app-vertical-three-five *ngIf="row.element === 'ver-3-5'"></app-vertical-three-five>
                <app-vertical-three-five-right *ngIf="row.element === 'ver-3-5r'"></app-vertical-three-five-right>
                <app-horizontal-three-five *ngIf="row.element === 'hor-3-5'"></app-horizontal-three-five>
                <app-vertical-two-five *ngIf="row.element === 'ver-2-5'"></app-vertical-two-five>
                <app-vertical-two-five-right *ngIf="row.element === 'ver-2-5r'"></app-vertical-two-five-right>
                <app-horizontal-two-five *ngIf="row.element === 'hor-2-5'"></app-horizontal-two-five>
                <app-vertical-two-four *ngIf="row.element === 'ver-2-4'"></app-vertical-two-four>
                <app-vertical-two-four-right *ngIf="row.element === 'ver-2-4r'"></app-vertical-two-four-right>
                <app-horizontal-two-four *ngIf="row.element === 'hor-2-4'"></app-horizontal-two-four>
                <app-long-three-one-five *ngIf="row.element === 'long-3-1-5'"></app-long-three-one-five>
                <app-long-two-three-four *ngIf="row.element === 'long-2-3-4'"></app-long-two-three-four>
                <app-long-three-five *ngIf="row.element === 'long-3-5'"></app-long-three-five>
                <app-long-three-four *ngIf="row.element === 'long-3-4'"></app-long-three-four>
                <app-vertical-two-three *ngIf="row.element === 'ver-2-3'"></app-vertical-two-three>

                <app-zona-storage [data]="row" *ngIf="row.element === 'zona-storage-pallet'"></app-zona-storage>
            </td>
        </tr>
    </table>
</div>

<!-- select row type stillage -->
<div class="block1" *ngIf="isSelectTypeRowStillage">
    <table class="table-bord">
        <tr class="tr-bord" *ngFor="let col of tab_map">
            <td class="td-bord" *ngFor="let row of col" (click)="onSelectCell(row)" [ngClass]="{
                    'stillage-row-with-out-name': row.isStillageRowWithOutNameHor || row.isStillageRowWithOutNameVer,
                    'stillage-cell-with-out-name': row.isStillageOneWithOutName,
                    'stillage-select-cell': row.isSelectCellStillage,
                    'busy': row.isBusy,
                    'road': row.element === 'road',
                    'office': row.element === 'office',
                    'zone_send': row.element === 'zone_send',
                    'zone_unload': row.element === 'zone_unload',
                    'zone_storage': row.element === 'zone_storage',
                    's-left-bottom-top': row.style === 's-left-bottom-top',
                    's-bottom-top': row.style === 's-bottom-top',
                    's-right-bottom-top': row.style === 's-right-bottom-top',
                    's-left-top-right': row.style === 's-left-top-right',
                    's-left-right': row.style === 's-left-right',
                    's-left-bottom-right': row.style === 's-left-bottom-right',
                    's-left-top': row.style === 's-left-top',
                    's-right-top': row.style === 's-right-top',
                    's-right-bottom': row.style === 's-right-bottom',
                    's-left-bottom': row.style === 's-left-bottom',
                    's-left': row.style === 's-left',
                    's-right': row.style === 's-right',
                    's-bottom': row.style === 's-bottom',
                    's-top': row.style === 's-top'
                }">
                {{row.cellName}}
                <div>
                    <p id="row-name-ver" *ngIf="row.isBraceVer">{{row.rowName}}</p>
                    <img id="img-ver1" [src]="row.imageUrl" *ngIf="row.isBraceVer" (click)="onClickBrace(row)" />
                </div>
                <div id="name-row-hor" class="form-inline">
                    <p id="row-name-hor" *ngIf="row.isBraceHor">{{row.rowName}}</p>
                    <img id="img-hor1" [src]="row.imageUrl" *ngIf="row.isBraceHor" (click)="onClickBrace(row)" />
                </div>
                <app-vertical-three-four *ngIf="row.element === 'ver-3-4'"></app-vertical-three-four>
                <app-vertical-three-four-right *ngIf="row.element === 'ver-3-4r'"></app-vertical-three-four-right>
                <app-horizontal-three-four *ngIf="row.element === 'hor-3-4'"></app-horizontal-three-four>
                <app-vertical-three-three *ngIf="row.element === 'ver-3-3'"></app-vertical-three-three>
                <app-vertical-three-three-right *ngIf="row.element === 'ver-3-3r'"></app-vertical-three-three-right>
                <app-horizontal-three-three *ngIf="row.element === 'hor-3-3'"></app-horizontal-three-three>
                <app-vertical-three-two *ngIf="row.element === 'ver-3-2'"></app-vertical-three-two>
                <app-vertical-three-two-right *ngIf="row.element === 'ver-3-2r'"></app-vertical-three-two-right>
                <app-horizontal-three-two *ngIf="row.element === 'hor-3-2'"></app-horizontal-three-two>
                <app-vertical-three-five *ngIf="row.element === 'ver-3-5'"></app-vertical-three-five>
                <app-vertical-three-five-right *ngIf="row.element === 'ver-3-5r'"></app-vertical-three-five-right>
                <app-horizontal-three-five *ngIf="row.element === 'hor-3-5'"></app-horizontal-three-five>
                <app-vertical-two-five *ngIf="row.element === 'ver-2-5'"></app-vertical-two-five>
                <app-vertical-two-five-right *ngIf="row.element === 'ver-2-5r'"></app-vertical-two-five-right>
                <app-horizontal-two-five *ngIf="row.element === 'hor-2-5'"></app-horizontal-two-five>
                <app-vertical-two-four *ngIf="row.element === 'ver-2-4'"></app-vertical-two-four>
                <app-vertical-two-four-right *ngIf="row.element === 'ver-2-4r'"></app-vertical-two-four-right>
                <app-horizontal-two-four *ngIf="row.element === 'hor-2-4'"></app-horizontal-two-four>
                <app-long-three-one-five *ngIf="row.element === 'long-3-1-5'"></app-long-three-one-five>
                <app-long-two-three-four *ngIf="row.element === 'long-2-3-4'"></app-long-two-three-four>
                <app-long-three-five *ngIf="row.element === 'long-3-5'"></app-long-three-five>
                <app-long-three-four *ngIf="row.element === 'long-3-4'"></app-long-three-four>
                <app-vertical-two-three *ngIf="row.element === 'ver-2-3'"></app-vertical-two-three>

                <app-zona-storage [data]="row" *ngIf="row.element === 'zona-storage-pallet'"></app-zona-storage>
            </td>
        </tr>
    </table>
</div>

<!-- edit panel -->
<div class="block1" *ngIf="isSelectEditor">
    <table class="table-bord">
        <tr class="tr-bord" *ngFor="let col of tab_map">
            <td class="td-bord" *ngFor="let row of col" (click)="onSelectCell(row)" [ngClass]="{
                    'stillage-row-with-out-name': row.isStillageRowWithOutNameHor || row.isStillageRowWithOutNameVer,
                    'stillage-cell-with-out-name': row.isStillageOneWithOutName,
                    'stillage-select-cell': row.isSelectCellStillage,
                    'busy-edit': row.isBusy,
                    'road': row.element === 'road',
                    'office': row.element === 'office',
                    'zone_send': row.element === 'zone_send',
                    'zone_unload': row.element === 'zone_unload',
                    'zone_storage': row.element === 'zone_storage',
                    's-left-bottom-top': row.style === 's-left-bottom-top',
                    's-bottom-top': row.style === 's-bottom-top',
                    's-right-bottom-top': row.style === 's-right-bottom-top',
                    's-left-top-right': row.style === 's-left-top-right',
                    's-left-right': row.style === 's-left-right',
                    's-left-bottom-right': row.style === 's-left-bottom-right',
                    's-left-top': row.style === 's-left-top',
                    's-right-top': row.style === 's-right-top',
                    's-right-bottom': row.style === 's-right-bottom',
                    's-left-bottom': row.style === 's-left-bottom',
                    's-left': row.style === 's-left',
                    's-right': row.style === 's-right',
                    's-bottom': row.style === 's-bottom',
                    's-top': row.style === 's-top'
                }">
                {{row.cellName}}
                <div>
                    <p id="row-name-ver" *ngIf="row.isBraceVer">{{row.rowName}}</p>
                    <img id="img-ver1" [src]="row.imageUrl" *ngIf="row.isBraceVer" (click)="onClickBrace(row)" />
                </div>
                <div id="name-row-hor" class="form-inline">
                    <p id="row-name-hor" *ngIf="row.isBraceHor">{{row.rowName}}</p>
                    <img id="img-hor1" [src]="row.imageUrl" *ngIf="row.isBraceHor" (click)="onClickBrace(row)" />
                </div>
                <app-vertical-three-four *ngIf="row.element === 'ver-3-4'"></app-vertical-three-four>
                <app-vertical-three-four-right *ngIf="row.element === 'ver-3-4r'"></app-vertical-three-four-right>
                <app-horizontal-three-four *ngIf="row.element === 'hor-3-4'"></app-horizontal-three-four>
                <app-vertical-three-three *ngIf="row.element === 'ver-3-3'"></app-vertical-three-three>
                <app-vertical-three-three-right *ngIf="row.element === 'ver-3-3r'"></app-vertical-three-three-right>
                <app-horizontal-three-three *ngIf="row.element === 'hor-3-3'"></app-horizontal-three-three>
                <app-vertical-three-two *ngIf="row.element === 'ver-3-2'"></app-vertical-three-two>
                <app-vertical-three-two-right *ngIf="row.element === 'ver-3-2r'"></app-vertical-three-two-right>
                <app-horizontal-three-two *ngIf="row.element === 'hor-3-2'"></app-horizontal-three-two>
                <app-vertical-three-five *ngIf="row.element === 'ver-3-5'"></app-vertical-three-five>
                <app-vertical-three-five-right *ngIf="row.element === 'ver-3-5r'"></app-vertical-three-five-right>
                <app-horizontal-three-five *ngIf="row.element === 'hor-3-5'"></app-horizontal-three-five>
                <app-vertical-two-five *ngIf="row.element === 'ver-2-5'"></app-vertical-two-five>
                <app-vertical-two-five-right *ngIf="row.element === 'ver-2-5r'"></app-vertical-two-five-right>
                <app-horizontal-two-five *ngIf="row.element === 'hor-2-5'"></app-horizontal-two-five>
                <app-vertical-two-four *ngIf="row.element === 'ver-2-4'"></app-vertical-two-four>
                <app-horizontal-two-four *ngIf="row.element === 'hor-2-4'"></app-horizontal-two-four>
                <app-vertical-two-four-right *ngIf="row.element === 'ver-2-4r'"></app-vertical-two-four-right>
                <app-long-three-one-five *ngIf="row.element === 'long-3-1-5'"></app-long-three-one-five>
                <app-long-two-three-four *ngIf="row.element === 'long-2-3-4'"></app-long-two-three-four>
                <app-long-three-five *ngIf="row.element === 'long-3-5'"></app-long-three-five>
                <app-long-three-four *ngIf="row.element === 'long-3-4'"></app-long-three-four>
                <app-vertical-two-three *ngIf="row.element === 'ver-2-3'"></app-vertical-two-three>

                <app-zona-storage [data]="row" *ngIf="row.element === 'zona-storage-pallet'"></app-zona-storage>
            </td>
        </tr>
    </table>
</div>
<br>