<mat-drawer-container>
    <mat-drawer mode="side" opened>
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let element of list" (click)="selectDoc(element)"
                [ngClass]="{ 'list-item-selected': docName === element.docName }"> {{element.docName}}
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="control-conteiner">
            <span>Поиск по:</span>
            <mat-button-toggle-group [(ngModel)]="selectedSearchMode">
                <mat-button-toggle value="docName">Имя документа</mat-button-toggle>
                <mat-button-toggle value="whoset">Кладовщик</mat-button-toggle>
                <mat-button-toggle value="date">Дата</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-form-field appearance="outline"
                *ngIf="selectedSearchMode == 'docName' || selectedSearchMode == 'whoset'">
                <mat-label *ngIf="selectedSearchMode == 'docName'">Имя документа</mat-label>
                <mat-label *ngIf="selectedSearchMode == 'whoset'">Кладовщик</mat-label>
                <input matInput type="text" [(ngModel)]="searchValue">
            </mat-form-field>
            <div *ngIf="selectedSearchMode == 'date'">
                <mat-form-field appearance="outline" subscriptSizing='dynamic'>
                    <mat-label>Дата с:</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="startDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Дата по:</mat-label>
                    <input matInput [matDatepicker]="picker1" [(ngModel)]="finishDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" (click)="onSearch()">Поиск</button>
            <button mat-raised-button color="primary" class="btn btn-default" *ngIf="docName"
                [printStyle]="{ th: {'border': '1px solid black'}, td: {'border': '1px solid black'}, table: {'border-collapse': 'collapse', 'width': '100%'}}"
                printSectionId="print-section" ngxPrint> Печать
            </button>
        </div>
        <span style="margin-left: 10px;" *ngIf="docName">{{docName}} Общее количество: {{summ}}</span>
        <div class="table-conteiner" id="print-section">
            <table mat-table [dataSource]="dataSource" class="table-hover" matSort>

                <ng-container matColumnDef="numb">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> № </th>
                    <td mat-cell *matCellDef="let element"> {{element.numb}} </td>
                </ng-container>

                <ng-container matColumnDef="article">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Артикул </th>
                    <td mat-cell *matCellDef="let element"> {{element.article}} </td>
                </ng-container>

                <ng-container matColumnDef="barcode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Штрихкод </th>
                    <td mat-cell *matCellDef="let element"> {{element.barcode}} </td>
                </ng-container>

                <ng-container matColumnDef="count_e">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Количество </th>
                    <td mat-cell *matCellDef="let element"> {{element.count_e}} </td>
                </ng-container>

                <ng-container matColumnDef="place">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Места хранения </th>
                    <td mat-cell *matCellDef="let element"> {{element.place}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="{ hovered: row.hovered, highlighted: row.highlighted }" (mouseover)="row.hovered = true"
                    (mouseout)="row.hovered = false">
                </tr>

            </table>
        </div>
    </mat-drawer-content>
</mat-drawer-container>