mat-drawer-container{
    width: 100%;
    height: 93%;
    mat-drawer {
        padding: 5px;
        width: 30vw;
        height: 100vh;
    }
}
.list-item-selected{
    font-weight: 500;

    border-right-color: #6d42ba; 
    border-right-style: solid; 
    border-right-width: 5px;
}
.control-conteiner{
    padding: 10px 0 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    mat-button-toggle-group{
        height: 48px;
    }
    mat-button-toggle-group, mat-form-field, span, button{
        margin-right: 10px;
    }
    mat-form-field{
        padding: 0;
    }
}