.main{
    width: 100%;
    .back-button{
        width: 100%;
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        background-color: darkorange;
        height: 50px;
        border: 1px solid rgba(216, 216, 216, 0.568);
    }
    .search-conteiner{
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 5px;
        width: 100%;
        .search-conteiner-box{
            margin-top: 5px;
            width: 100%;
            mat-form-field{
                width: 98%;
            }
            button{
                width: 48%;
                &:first-child{
                    margin-right: 5px;
                }
            }
        }
        
    }
    .table-conteiner{
        width: 100%;

        overflow: auto;
        table{
            border: 1px solid #e0e0e0;
            // width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
            th, td:first-child{
                
                color: #757575;
            }
        }
    }
}