<div class="main">
    <div class="info-conteiner">
        <span>Грузоотправитель:</span>
        <span>Грузополучатель:</span>
    </div>
    <div class="base-items-conteiner">
        <div class="base-item" *ngFor="let i of base">
            <img [src]="i.img|urlImg">
            <div class="items-info-conteiner">
                <span>
                    {{i.name}}
                </span>
                <span>
                    Артикул: <span>{{i.article}}</span>
                </span>
                <span>
                    ШК:<span>{{i.barcode}}</span>
                </span>
                <span>
                    Собрано: <span [ngClass]="i.ready == i.need ? 'ready-item' : 'not-ready'">{{i.ready}}</span>
                </span>
                <span>
                    Необходимо:<span [ngClass]="i.ready == i.need ? 'ready-item' : 'not-ready'">{{i.need}}</span>
                </span>
                <span>
                    Номер П/П:<span>{{i.number}}</span>
                </span>
            </div>
        </div>
    </div>
</div>