table {
    border-collapse: collapse;
    /* Рамка вокруг таблицы */
    /* border: 1px solid black;  */
    border-bottom-width: 2px; /* Толщина линии внизу */
    border-bottom-style: solid; /* Стиль линии внизу */
    border-bottom-color: black; /* Цвет линии внизу */
    border-top-width: 2px; /* Толщина линии внизу */
    border-top-style: solid; /* Стиль линии внизу */
    border-top-color: black; /* Цвет линии внизу */
    width: 25px;
    height: 20px;
    font-size: 8px;
    padding: 0%;
    margin: 0%;
    width: 49px;
    height: 49px;
} 
td {
    border: 1px solid rgba(128, 128, 128, 0.25);
    padding: 0%;
    margin: 0%;
}
.select-cell {
    background-color: aquamarine; 
}