<table class="table-bord">
    <tr class="tr-bord" *ngFor="let col of tab_map">
        <td class="td-bord" *ngFor="let row of col" (click)="onSelectCell(row)" [ngClass]="{
                'stillage-row-with-out-name': row.isStillageRowWithOutNameHor || row.isStillageRowWithOutNameVer,
                'stillage-cell-with-out-name': row.isStillageOneWithOutName,
                'stillage-select-cell': row.isSelectCellStillage,
                'stillage-select-cell-element': row.isSelectCellStillage && (row.element === 'office' || row.element === 'zone_send' || row.element === 'zone_unload' || row.element === 'zone_storage'),
                'road': row.element === 'road',
                'office': row.element === 'office',
                'zone_send': row.element === 'zone_send',
                'zone_unload': row.element === 'zone_unload',
                'zone_storage': row.element === 'zone_storage',
                's-left-bottom-top': row.style === 's-left-bottom-top',
                's-bottom-top': row.style === 's-bottom-top',
                's-right-bottom-top': row.style === 's-right-bottom-top',
                's-left-top-right': row.style === 's-left-top-right',
                's-left-right': row.style === 's-left-right',
                's-left-bottom-right': row.style === 's-left-bottom-right',
                's-left-top': row.style === 's-left-top',
                's-right-top': row.style === 's-right-top',
                's-right-bottom': row.style === 's-right-bottom',
                's-left-bottom': row.style === 's-left-bottom',
                's-left': row.style === 's-left',
                's-right': row.style === 's-right',
                's-bottom': row.style === 's-bottom',
                's-top': row.style === 's-top'
            }">
            {{row.cellName}}
            <div>
                <p id="row-name-ver" *ngIf="row.isBraceVer">{{row.rowName}}</p>
                <img id="img-ver1" [src]="row.imageUrl" *ngIf="row.isBraceVer" />
            </div>
            <div id="name-row-hor" class="form-inline">
                <p id="row-name-hor" *ngIf="row.isBraceHor">{{row.rowName}}</p>
                <img id="img-hor1" [src]="row.imageUrl" *ngIf="row.isBraceHor" />
            </div>
            <app-vertical-three-four-action [data]="row"
                *ngIf="row.element === 'ver-3-4'"></app-vertical-three-four-action>
            <app-vertical-three-four-right-action [data]="row"
                *ngIf="row.element === 'ver-3-4r'"></app-vertical-three-four-right-action>
            <app-horizontal-three-four-action [data]="row"
                *ngIf="row.element === 'hor-3-4'"></app-horizontal-three-four-action>
            <app-vertical-three-three-action [data]="row"
                *ngIf="row.element === 'ver-3-3'"></app-vertical-three-three-action>
            <app-vertical-three-three-right-action [data]="row"
                *ngIf="row.element === 'ver-3-3r'"></app-vertical-three-three-right-action>
            <app-vertical-three-five-action [data]="row"
                *ngIf="row.element === 'ver-3-5'"></app-vertical-three-five-action>
            <app-vertical-three-five-right-action [data]="row"
                *ngIf="row.element === 'ver-3-5r'"></app-vertical-three-five-right-action>
            <app-vertical-two-five-action [data]="row" *ngIf="row.element === 'ver-2-5'"></app-vertical-two-five-action>
            <app-vertical-two-five-right-action [data]="row"
                *ngIf="row.element === 'ver-2-5r'"></app-vertical-two-five-right-action>
            <app-vertical-three-two-action [data]="row"
                *ngIf="row.element === 'ver-3-2'"></app-vertical-three-two-action>
            <app-vertical-three-two-right-action [data]="row"
                *ngIf="row.element === 'ver-3-2r'"></app-vertical-three-two-right-action>
            <app-long-three-one-five-action [data]="row"
                *ngIf="row.element === 'long-3-1-5'"></app-long-three-one-five-action>
            <app-long-two-three-four-action [data]="row"
                *ngIf="row.element === 'long-2-3-4'"></app-long-two-three-four-action>
            <app-long-three-five-action [data]="row" *ngIf="row.element === 'long-3-5'"></app-long-three-five-action>
            <app-long-three-four-action [data]="row" *ngIf="row.element === 'long-3-4'"></app-long-three-four-action>
            <app-vertical-two-three-action [data]="row"
                *ngIf="row.element === 'ver-2-3'"></app-vertical-two-three-action>
            <app-vertical-two-four-action [data]="row" *ngIf="row.element === 'ver-2-4'"></app-vertical-two-four-action>
            <app-vertical-two-four-right-action [data]="row"
                *ngIf="row.element === 'ver-2-4r'"></app-vertical-two-four-right-action>
            <app-zona-storage-action [data]="row"
                *ngIf="row.element === 'zona-storage-pallet'"></app-zona-storage-action>

            <app-horizontal-three-three *ngIf="row.element === 'hor-3-3'"></app-horizontal-three-three>
            <app-horizontal-three-two *ngIf="row.element === 'hor-3-2'"></app-horizontal-three-two>
            <app-horizontal-three-five *ngIf="row.element === 'hor-3-5'"></app-horizontal-three-five>
            <app-horizontal-two-five *ngIf="row.element === 'hor-2-5'"></app-horizontal-two-five>
            <app-horizontal-two-four *ngIf="row.element === 'hor-2-4'"></app-horizontal-two-four>

        </td>
    </tr>
</table>