<div class="main">
    <button class="back-button" (click)="Back()">Назад</button>
    <div class="search-conteiner">
        <div class="search-conteiner-box">
            <mat-form-field appearance="outline">
                <mat-label> Ячейка </mat-label>
                <input matInput type="text" [(ngModel)]="searchValue" (keyup.enter)="searchPlace()"
                    (input)="inputHandler()">
            </mat-form-field>
        </div>
        <div class="search-conteiner-box">
            <button mat-raised-button (click)="searchPlace()" style="color: white; background-color: darkorange;">
                Поиск
            </button>
            <button mat-raised-button [disabled]="!searchValue" (click)="searchValue=''">Очистить</button>
        </div>
    </div>
    <div class="table-conteiner">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="article">
                <th mat-header-cell *matHeaderCellDef> Артикул </th>
                <td mat-cell *matCellDef="let element"> {{element.article}} </td>
            </ng-container>

            <ng-container matColumnDef="barcode">
                <th mat-header-cell *matHeaderCellDef> Штрихкод </th>
                <td mat-cell *matCellDef="let element"> {{element.barcode}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Наименование </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef> Количество </th>
                <td mat-cell *matCellDef="let element"> {{element.count}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>
</div>