.drawer-container{
    width: 100vw;
    height: 93%;

}
.drawer{
  width: 563px;
  padding: 10px;
}

.list-icon {
    margin: 0.5em 0.4em;
    display: flex;
    align-self: center;
}
span#status {
    font-size: 0.8em;
    padding: 0.2em 0.5em;
    font-weight: 100;
    margin-left: 1em;
    margin-right: 2em;
}
.mybadge-new {
  color: #cf7807;
  border: 1px solid #cf7807;
  border-radius: 10px;
}
.mybadge-just {
  color: #0e0bdb;
  border: 1px solid #0e0bdb;
  border-radius: 10px;
}
.mybadge-notall {
  color: red;
  border: 1px solid red;
  border-radius: 10px;
}
.mybadge-all {
  color: green;
  border: 1px solid green;
  border-radius: 10px;
}
.assembly-method-container{
  display: flex;
  align-items: center;
  mat-button-toggle-group{
    height: 30px;
    margin-left: 15px;
  }
}
.task-control-box{
  button{
    margin: 10px 10px 0 0;
  }
}