<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>

        <h5> Новое задание </h5>
        <!-- 
        <app-process-form (onDataSelected)="addProcesses($event)"></app-process-form>
        <app-base-form (onDataSelected)="addBase($event)"></app-base-form>
        <app-proc-personal-list-form (onDataSelected)="addUser($event)"></app-proc-personal-list-form>
        <br>
        <p id="as-method"> Способ сборки: </p>
        <div class="bt-inline">
            <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style"
                [(ngModel)]="selectedMethod">
                <mat-button-toggle value="auto" data-toggle="tooltip" data-placement="bottom" matTooltip="Авто">
                    Авто
                </mat-button-toggle>
                <mat-button-toggle value="hand" data-toggle="tooltip" data-placement="bottom" matTooltip="Ручной">
                    Ручной
                </mat-button-toggle>
                <mat-button-toggle value="shtabel" data-toggle="tooltip" data-placement="bottom" matTooltip="Штабелер">
                    Штабелер
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <mat-divider></mat-divider>
        <div class="br-pad container">
            <div class="box">
                <div matTooltip="Очистить все данные">
                    <button mat-raised-button id="butt-cancel" color="primary" class="btn btn-default"
                        mwlConfirmationPopover [popoverMessage]="'Вы действительно хотите <b>очистить</b> формы?'"
                        [confirmText]="'Да'" [cancelText]="'Нет'" placement="right" (confirm)="onClear()"
                        (cancel)="cancelClicked = true">
                        Очистить
                    </button>
                </div>
                <div matTooltip="Сохранить все изменения">
                    <button mat-raised-button [disabled]="isDisabled" color="primary" class="btn btn-default"
                        (click)="onOpenConfirmationForm()">
                        Создать
                    </button>
                </div>
            </div>
        </div> -->

    </mat-drawer>
    <mat-drawer-content>

    </mat-drawer-content>
</mat-drawer-container>