<table>
    <tr>
        <td [ngClass]="{'select-cell': selItem.c11, 
            'cell-red': stillageItem.cells.c11 === 'red', 
            'cell-yellow': stillageItem.cells.c11 === 'yellow', 
            'cell-green': stillageItem.cells.c11 === 'green'}" (click)="onClickCell('1', '1')">11</td>
        <td [ngClass]="{'select-cell': selItem.c21,
            'cell-red': stillageItem.cells.c21 === 'red', 
            'cell-yellow': stillageItem.cells.c21 === 'yellow', 
            'cell-green': stillageItem.cells.c21 === 'green'}" (click)="onClickCell('2', '1')">21</td>
        <td [ngClass]="{'select-cell': selItem.c31,
            'cell-red': stillageItem.cells.c31 === 'red', 
            'cell-yellow': stillageItem.cells.c31 === 'yellow', 
            'cell-green': stillageItem.cells.c31 === 'green'}" (click)="onClickCell('3', '1')">31</td>
        <td [ngClass]="{'select-cell': selItem.c41,
            'cell-red': stillageItem.cells.c41 === 'red', 
            'cell-yellow': stillageItem.cells.c41 === 'yellow', 
            'cell-green': stillageItem.cells.c41 === 'green'}" (click)="onClickCell('4', '1')">41</td>
    </tr>
    <tr>
        <td [ngClass]="{'select-cell': selItem.c12, 
            'cell-red': stillageItem.cells.c12 === 'red', 
            'cell-yellow': stillageItem.cells.c12 === 'yellow', 
            'cell-green': stillageItem.cells.c12 === 'green'}" (click)="onClickCell('1', '2')">12</td>
        <td [ngClass]="{'select-cell': selItem.c22,
            'cell-red': stillageItem.cells.c22 === 'red', 
            'cell-yellow': stillageItem.cells.c22 === 'yellow', 
            'cell-green': stillageItem.cells.c22 === 'green'}" (click)="onClickCell('2', '2')">22</td>
        <td [ngClass]="{'select-cell': selItem.c32,
            'cell-red': stillageItem.cells.c32 === 'red', 
            'cell-yellow': stillageItem.cells.c32 === 'yellow', 
            'cell-green': stillageItem.cells.c32 === 'green'}" (click)="onClickCell('3', '2')">32</td>
        <td [ngClass]="{'select-cell': selItem.c42,
            'cell-red': stillageItem.cells.c42 === 'red', 
            'cell-yellow': stillageItem.cells.c42 === 'yellow', 
            'cell-green': stillageItem.cells.c42 === 'green'}" (click)="onClickCell('4', '2')">42</td>
    </tr>
</table>