<div class="list-proc table-container">
    <table mat-table [dataSource]="listWorkers" class="table-hover">

        <ng-container matColumnDef="worker">
            <th mat-header-cell *matHeaderCellDef> Исполнитель </th>
            <td mat-cell *matCellDef="let element"> {{element}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
                <ng-container *ngIf="!isSelectedElement">
                    <div class="bt-inline">
                        <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style"
                            [(ngModel)]="selectedMethod">
                            <mat-button-toggle value="all" data-toggle="tooltip" data-placement="bottom"
                                matTooltip="Общедоступный" (click)="onClickPublic()">
                                Общедоступный
                            </mat-button-toggle>
                            <!-- <mat-button-toggle value="group" data-toggle="tooltip" data-placement="bottom"
                                matTooltip="Группа" (click)="openSelectGroup()">
                                Группа
                            </mat-button-toggle> -->
                            <mat-button-toggle value="user" data-toggle="tooltip" data-placement="bottom"
                                matTooltip="Пользователь" (click)="openSelectUser()">
                                Пользователь
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </ng-container>
                <!-- <ng-container *ngIf="isSelectedElement">
                    
                </ng-container> -->

            </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon id="push" aria-hidden="false" aria-label="Example home icon" (click)="onClear()"
                    matTooltip="Очистить"> clear </mat-icon>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumnsWorkers; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsWorkers;"></tr>

    </table>
</div>