.main{
  width: 100%;
  height: 100%;
  display: flex;
}
.table-conteiner{
  width: 50%;
  height: 95%;
  margin: 20px;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  overflow: auto;
  .mat-row.hovered {
    background: #eee;
  }
  .highLighted {
    background: rgba(146, 77, 77, 0.5);
  }
  .search-conteiner{
    font-size: 18px;
    margin-top: 5px;
  }
}
.selected-doc-conteiner{
  width: 49%;
  height: 95%;
  margin: 20px;

  .selected-doc-table-conteiner{
    width: 100%;
    height: 90%;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    overflow: auto;
    h4{
      margin-left: 10px;
    }
  }
  .control-conteiner{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    button{
      margin-right: 10px;
      margin-top: 10px;
    }
  }
}
