<div class="main">
    <div class="search-conteiner">
        <span>
            Наименование товара
        </span>
        <span>
            {{productInfo.name}}
        </span>
        <div class="input-conteiner">
            <ng-container *ngIf="productInfo.img_url">
                <img [src]="productInfo.img_url | urlImg">
            </ng-container>
            <ng-container *ngIf="!productInfo.img_url">
                <img src="../../../../assets/box.png">
            </ng-container>
            <div class="input-search-conteiner" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
                <!-- <div>
                        <span>Артикул:</span>
                        <span>{{productInfo.article}}</span>
                    </div> -->
                <mat-form-field appearance="outline">
                    <mat-label>Артикул:</mat-label>
                    <input id="articleInput" matInput type="tel" [(ngModel)]="article"
                        (keyup.enter)="GetProductInfo('article')" (input)="AutoSearchArticle($event)">
                    <button class="clear-button" matSuffix mat-icon-button aria-label="Clear"
                        (click)="clearProductInfo()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <div>
                    <span>UKZ:</span>
                    <span [ngStyle]="{'color': productInfo.ukz == 'да' ? 'green' : 'red'}">{{productInfo.ukz}}</span>
                </div>
                <div>
                    <span>Ед.измерения:</span>
                    <span>{{productInfo.edism}}</span>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Штрихкод:</mat-label>
                    <input cdkFocusInitial id="barcodeInput" matInput type="tel" [(ngModel)]="barcode"
                        (input)="InputHandel($event)" (keyup.enter)="GetProductInfo('barcode')" cdkFocusInitial>
                    <button class="clear-button" matSuffix mat-icon-button aria-label="Clear"
                        (click)="clearProductInfo()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <div class="input-box-conteiner">
            <form [formGroup]="productForm">
                <div formArrayName="places">
                    <fieldset *ngFor="let place of places.controls; let i = index" formGroupName="{{i}}"
                        style="display: flex; flex-direction: column;">
                        <div class="select-place-conteiner" *ngIf="showingPlaceSelector()">
                            <span>
                                Выбор места хранения:
                            </span>
                            <div class="select-place-item" (click)="selectPlaceItem(p.place,i)"
                                [ngClass]="{'selected-place-item': selectedPlace == p.place}"
                                *ngFor="let p of productInfo.places">
                                <span>Место:</span> <span>{{p.place}}</span> <span>Кол-во:</span>
                                <span>{{p.count}}</span>
                            </div>
                        </div>
                        <span style="color: red;" *ngIf="place.value.warn == true">
                            В данной ячейке, кол-во равно или меньше 0
                        </span>
                        <mat-form-field appearance="outline">
                            <mat-label *ngIf="data.docType != 'Ротация'">Место хранения:</mat-label>
                            <mat-label *ngIf="data.docType == 'Ротация'">Перемещение из:</mat-label>
                            <input matInput formControlName="place" (input)="NewCheckCount(i)">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Кол-во</mat-label>
                            <input matInput formControlName="count" type="number" (input)="SumCount()"
                                autocomplete="off">
                        </mat-form-field>
                        <mat-form-field appearance="outline" *ngIf="data.docType == 'Ротация'">
                            <mat-label>Перемещение в:</mat-label>
                            <input matInput formControlName="placeTo">
                        </mat-form-field>
                        <button mat-raised-button style="background-color: #F44336; color: white;"
                            (click)="[removePlace(i), SumCount()]" *ngIf="i != 0">
                            Удалить размещение
                        </button>
                    </fieldset>
                </div>
                <button mat-raised-button (click)="addPlace()">Добавить размещение</button>
                <div>
                    <span style="color: black;">Общее кол-во: {{sumCount}}</span>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>№ по порядку:</mat-label>
                    <input matInput formControlName="numb" type="number" autocomplete="off">
                </mat-form-field>
            </form>
        </div>
        <!-- <div class="gsm-codes-conteiner">
            <a (click)="showGSMConteiner = showGSMConteiner == 'arrow_drop_down'? 'arrow_drop_up':'arrow_drop_down' ">
                <span>DataMark-коды</span>
                <mat-icon>{{showGSMConteiner}}</mat-icon>
            </a>
            <div class="gsm-codes-input-conteiner" *ngIf="showGSMConteiner == 'arrow_drop_up'">
                <span>
                    Записано/Необходимо:
                </span>
                <span [ngClass]="productInfo.gsm?.length == inputForm.value.count ? 'ready' : ''">
                    {{productInfo.gsm?.length}}/{{inputForm.value.count}}
                </span>
                <mat-form-field appearance="outline">
                    <mat-label>DataMark-коды</mat-label>
                    <input matInput type="text" [(ngModel)]="gsm" (input)="inputAdd($event)">
                </mat-form-field>
                <button mat-raised-button [disabled]="!productInfo.article || !gsm" (click)="addGSMCode()">
                    Добавить код
                </button>
                <div class="gsm-table-conteiner">
                    <table>
                        <tr>
                            Записанные коды на артикул
                        </tr>
                        <tr *ngFor="let g of productInfo.gsm">
                            <td>
                                {{g}}
                            </td>
                            <td>
                                <button>
                                    <button class="clear-button" mat-icon-button aria-label="Clear"
                                        (click)="deleteGSMCode(g)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div> -->
        <div class="toggle-box">
            <mat-slide-toggle [(ngModel)]="otherPosition">Добавить как отдельную позицию</mat-slide-toggle>
        </div>

        <button (click)="NewAddProductToDoc()">Добавить в список продукции</button>
    </div>
</div>